<!DOCTYPE html>
<html>
<meta name="referrer" content="same-origin">
<meta name="referrer" content="no-referrer" />
<head>
    <title>Don't Look at This</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .res {
            display: block;
            height: auto;
            width: 97%;
        }
        .page-header {
            text-align: center;
        }
        li {
            list-style: none;
        }
        .pagination {
            text-align: center;
        }

    </style>
</head>
<body>

<div class="page-header">
    <h3> {{ title }} </h3>
</div>

<div class="table-list">
    <ul>
    {% for i in gifs %}
        <li class="li">
            <img class="res" src="{{ i[0] }}" referrerpolicy="no-referrer" alt="{{i[1]}}"/>
        </li>
        <br>
    {% endfor %}
    </ul>
</div>

<nav class="text-center">
<ul class="pagination pagination-lg">
    {% if page != 1%}
        <li><a href="/gif/{{ page-1 }}">&laquo;</a></li>
    {% endif %}
    {% for p in pages %}
        {% if page == p %}
        <li><a class="active" href="/gif/{{ p }}"> {{ p }} </a></li>
        {% else %}
        <li><a href="/gif/{{ p }}"> {{ p }} </a></li>
        {% endif %}
    {% endfor %}
    {% if page < 1188 %}
        <li><a href="{{ page+1 }}">&raquo;</a></li>
    {% endif %}
</ul>
</nav>

<br>
<br>
<br>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>