<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Allowed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style type="text/css">
        .row {
           display: flex;
           flex-wrap: wrap;
        }
        .row > div[class*='col-'] {
          display: flex;
        }
        .pagination {
            justify-content: center;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/gif/1">Gif</a>
      <a class="nav-item nav-link" href="/javmost/1">Javmost</a>
      <a class="nav-item nav-link" href="/file">Upload</a>
    </div>
  </div>
</nav>

<!--<div class="container">-->
    <div class="row">
        {% for i in videos %}
            <div class="col-sm col-xs-12">
                <div class="card" style="width: 80rem;">
                  <img class="card-img-top" src="{{ i['image'] }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{ i['code'] }}</h5>
                    <p class="card-text">{{ i['title'] }}</p>
                    <a href="/code/{{ i['code'] }}/0" class="btn btn-primary">Go Watch</a>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
<!--</div>-->

<nav aria-label="..." style="text-align: center">
<ul class="pagination">
    {% if page != 1%}
        <li class="page-item"><a class="page-link" href="/javmost/{{ page-1 }}">&laquo;</a></li>
    {% endif %}
    {% for p in pages %}
        {% if page == p %}
        <li class="page-item active"><a class="page-link" href="/javmost/{{ p }}"> {{ p }} </a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="/javmost/{{ p }}"> {{ p }} </a></li>
        {% endif %}
    {% endfor %}
    {% if page < 1188 %}
        <li class="page-item"><a class="page-link" href="{{ page+1 }}">&raquo;</a></li>
    {% endif %}
</ul>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>